@charset "UTF-8";
@import "src/assets/css/colors";

#info-marques {
  display: flex;
}

#presentation > span {
  font-size: 2vw;
  font-family: MarketSans, sans-serif;
  color: $black;
  background: white;
  border-radius: 5px;
  padding: 1vw;
}

#presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: url("../../assets/img/garage.jpg") no-repeat fixed;
  //background-size: cover;
  height: 10vw;
}

img {
  width: 50%;
}

h1 {
  font-family: MarketSans, sans-serif;
  font-weight: lighter;
  font-size: 2vw;
}

.half-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4vw;
  align-items: center;
  background: $white_grey;
}

p {
  padding: 0 6vw;
  text-justify: inter-word;
  text-align: justify;
  font-size: 1.4vw;
}

strong {
  font-weight: bold;
  color: $blue;
}

#services {
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services > button {
  border: 2px solid $white_grey;
  font-size: 1.5vw;
  border-radius: 5px;
  padding: 0.5vw;
  cursor: pointer;

  background: $red;
  color: white;
  transition: 0.2s;
}

#services > p {
  font-size: 2vw;
}

#services > button:hover {
  border-color: $red;
  color: $red;
  background: white;
  transition: 0.2s;
}
