<div id="presentation">
  <span>Garage automobile à Saint-Chamas</span>
</div>

<article id="info-marques">
  <div class="half-text-container">
    <h1> TOUTES MARQUES </h1>
    <p>
      Nous réalisons toutes sortes d'intervention sur toutes les marques de véhicules. Travaux de <strong>mécanique lourde</strong>,
      <strong>entretien</strong>, <strong>diagnostics</strong>, notre équipe saura vous satisfaire et réalisera un <strong>travail</strong> de qualité sur votre véhicule.
    </p>
  </div>
  <img alt="Illustration du garage" src="assets/img/vds.png">
</article>

<article id="services">
  <p>Retrouvez les différents services proposés par le garage</p>
  <button routerLink="services">Services</button>
</article>
