@charset "UTF-8";
@import "src/assets/css/colors";

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  color: $black;
}

h1 {
  font-size: 2vw;
  border-bottom: 1px solid $mid_red;
}

span {
  font-size: 1.25vw;
}

.tile {
  overflow: hidden;
  position: relative;

  height: 26vw;
  width: 25vw;

  border: $white_grey 2px solid;
  border-radius: 20px;

  margin-left: 2vw;
  margin-top: 2vw;

  display: flex;
  flex-direction: column;

  transition: 0.1s;
}

.tile:hover {
  transition: 0.1s;
  transform: scale(1.025);
}

.tile > img {
  max-height: 60%;
  min-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

#desc {
  height: 40%;
}

#desc > h2 {
  font-size: 1.75vw;
  padding-bottom: 0.25vw;
  border-bottom: 1px solid $blue;
  width: fit-content;
  margin-top: 0.5vw;
  margin-bottom: 0;
}

#desc > h2, p {
  margin-left: 1vw;
}
#desc > p {
  text-align: justify;
  font-size: 1vw;
  margin-right: 1.5vw;
}


#services {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4vw;
  justify-content: center;
}
