<article>
  <h1> Mentions Légales </h1>
  <section>
    <h2>VDS Auto</h2>
    <p>SARL unipersonnelle</p>
    <h3>Adresse</h3>
    <p>{{address}}</p>
    <h3>Mail</h3>
    <p>{{mail}}</p>
    <h3>Téléphone</h3>
    <p>{{num}}</p>
    <h3>Capital social</h3>
    <p>1,000.00 €</p>
  </section>

  <section>
    <h2> Hébergement </h2>
    <p id="host"> Namecheap, Inc. </p>
    <p> 4600 East Washington Street, Suite 305, Phoenix, AZ 85034, États-Unis. </p>
    <h3> Serveur </h3>
    <p> PheonixNAP Datacenter, 3402 E University Dr, Phoenix, AZ 85034, États-Unis. </p>
  </section>

  <section>
    <h2> Développement </h2>
    <p>Christophe RUIZ</p>
    <a target="_blank" href="https://cruiz.fr">https://cruiz.fr</a>
  </section>

  <section id="cookies">
    <h2> Cookies </h2>
    <p>
      Un cookie est un petit fichier informatique, un traceur.
      Il permet d'analyser le comportement des usagers lors de la visite d'un site internet,
      de la lecture d'un courrier électronique, de l'installation ou de l'utilisation d'un logiciel
      ou d'une application mobile.
    </p>
    <p>
      Les seuls cookies qui sont utilisés sur ce site permettent la visualisation de la carte Google Maps.
    </p>
    <p>
      Pour toute requête concernant l'utilisation des cookies et votre consentement, veuillez contacter VDS Auto.
    </p>
  </section>

  <section>
    <h2>Données personnelles</h2>
    <p>
      Les informations et fichiers transmis sur la page de recrutement sont utilisés dans le cadre d'un processus de recrutement et sont
      détruits à la fin de celui-ci.
    </p>
    <p>Vous disposez des droits suivants sur les données que vous transmettez: </p>
    <ul>
      <li>Droits d'opposition</li>
      <li>Droit d'interrogation</li>
      <li>Droit d'accès</li>
      <li>Droit de rectification</li>
    </ul>
    <p>Pour faire valoir ces droits, veuillez contacter VDS Auto.</p>
    <p>Vous disposez d'un droit d'introduire une réclamation (plainte) auprès de la
      <a href="https://www.cnil.fr/fr/cnil-direct/question/adresser-une-reclamation-plainte-la-cnil-quelles-conditions-et-comment">
        Cnil
      </a>
      .
    </p>
  </section>
</article>
