@charset "UTF-8";

$black: #101820;

$dark_grey: #404145;
$white_grey: #F4F4F4;
$cool_grey: #D0D0CE;
$blue_grey: #54637B;

$light-blue: #92A1C9;
$blue: #4F6B9A;


$red: #B7312C;
$mid_red: #E10600;
$light_red: #E73C3E;

$yellow: #F4C06A;
$dark_yellow: #F8CD57;
$green: #3BD23D;
$mid-green: #00B74F;


