@charset "UTF-8";

$black: #101820;
$dark_grey: #404145;
$white_grey: #F4F4F4;
$blue_grey: #54637B;
$light-blue: #92A1C9;
$blue: #4F6B9A;


$red: #B7312C;
$yellow: #F4C06A;
$green: #3BD23D;
$mid-green: #00B74F;

$mid_red: #E10600;
$light_red: #E73C3E;

