<footer>
  <div class="panel">
    <div id="contact-infos">
      <h2>Informations</h2>
      <p id="garage">Garage V.D.S. Auto</p>
      <div class="info">
        <h3>Adresse</h3>
        <p>{{address}}</p>
      </div>
      <div class="info">
        <h3>Téléphone</h3>
        <a href="tel: {{num}}">{{num}}</a>
      </div>
      <div class="info">
        <h3>E-mail</h3>
        <a href="mailto: {{mail}}">{{mail}}</a>
      </div>
    </div>
    <a id="mentions" routerLink="mentions-legales">Mentions Légales</a>
  </div>

  <div class="panel" id="gmap-container">
    <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d429.89229842961936!2d5.0403676744364905!3d43.544893597261506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa3d502ba7fdbc24!2sVds%20Auto!5e0!3m2!1sfr!2sfr!4v1623066124607!5m2!1sfr!2sfr" allowfullscreen="" loading="eager"></iframe>
  </div>
</footer>
