@charset "UTF-8";
@import "src/assets/css/colors";

#tab-list {
  overflow-x: auto;

  display: flex;

  height: 100%;
  width: 100%;
}


@media screen and (min-width: 1001px) {
  #tab-list {
    justify-content: flex-start;
    align-items: center;
    padding: 1vw 2vw;
  }

  .tablist > app-tab:not(:last-child) {
    margin-right: 2vw;
  }
}

#burgermenu {
  width: 5vw;
  padding: 2vw 2.2vw 1.2vw;
  border: 2px solid $black;
  border-radius: 50%;
  cursor: pointer;
}

#burgermenu > img {
  width: 100%;
}

.mobilemenu {
  border: 1px $white_grey solid;
  border-radius: 2vw;
  margin-top: 1.5vw;

  background: white;
  padding: 3vw;

  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  position: absolute;

  top: 39vw;
  z-index: 999;
}

.mobilemenu > app-tab {
  margin-bottom: 2vw;
}

@media screen and (max-width: 1000px) {

  #tab-list {
    flex-direction: column;
    align-items: center;
  }

  #tab-list {
    margin-bottom: 1.75vw;
  }
}
