@charset "UTF-8";
@import "src/assets/css/colors";

@media screen and (min-width:1001px) {
  h1 {
    font-size: 2vw;
  }

  .mechanic {
    height: 25vw;
    width: 20vw;

    margin-left: 2vw;
    margin-top: 2vw;
  }

  #cadre {
    height: 40vw;
  }

  section {
    font-size: 2vw;
    height: 10vw;
    margin-bottom: 2vw;
  }

  #name {
    margin-top: 1vw;
    font-size: 1.25vw;
  }

  .title {
    font-size: 1vw;
  }

}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 6vw;
  }

  .mechanic {
    height: 80vw;
    width: 75vw;

    margin-bottom: 6vw;
  }

  #cadre {
    width: 75vw;
  }

  section {
    font-size: 5vw;
    height: 30vw;
    margin-bottom: 6vw;
  }

  #name {
    margin-top: 3vw;
    font-size: 5vw;
  }

  .title {
    font-size: 4vw;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  color: $black;
}

h1 {
  border-bottom: 1px solid $mid_red;
}

#team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4vw;
}

.mechanic {
  overflow: hidden;

  border: $white_grey 2px solid;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#cadre {
  border: 1vw $black solid;
  border-radius: 10px;
  margin-bottom: 4vw;
}

section {
  background: $white_grey;
  color: $black;

  font-family: "MarketSans", sans-serif;
  font-weight: lighter;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mechanic > img {
  height: 75%;
  min-width: 100%;
  object-fit: cover;
}
