@charset "UTF-8";
@import "src/assets/css/colors";

@media screen and (min-width: 1001px) {
  section {
    height: 3vw;
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 1000px) {
  section {
    font-size: 4vw;
    flex-direction: column;
    padding: 2vw 0;
    margin-top: 2vw;
  }
  section > div:not(:last-child)  {
    margin-bottom: 2vw;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white_grey;

  width: 100vw;
}

a {
  text-decoration: none;
  color: $black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $black;

  height: 100%;
  padding: 0 1vw;
}
